// General Color Styling

.colorBG-black {
  background: #000000;
}

.patsBG-blue {
  background: #0f64b4;
}

.colorBG-white {
  background: #ffffff;
}

.color-grey {
  color: #acacac;
}

.color-grey {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #acacac;
  }
}

.color-blue {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #154163;
  }
}

.color-white {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #ffffff;
  }
}
