/* HERO */

.p-hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: auto;
  color: white;
  // border: black solid 2px;
  // border-radius: 1rem;
  margin-top: 5rem;
  flex-wrap: wrap;
  position: relative;
  .p-object {
    position: absolute;
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: left;
    margin-left: 15%;
    z-index: 2;
    .p-object-img {
      height: 100%;
      width: 100%;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
  .p-z1 {
    z-index: 5;
  }
  .p-z2 {
    z-index: 6;
  }
  .p-title {
    position: absolute;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 15%;
    z-index: 2;
  }
  h1 {
    color: white;
  }
}

.p-hero-img {
  position: absolute;
  width: 100%;
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.app-icon {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-self: flex-start;
  position: relative;
  width: 6rem;
  height: 6rem;
  border-radius: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.055),
    0 1rem 1rem 0 rgba(63, 63, 63, 0.068);

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 0.5rem;
  }
}

/* BASE SECTION */

.project {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
  color: white;
  // border: pink solid 2px;
  border-radius: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  position: relative;
}

.project-bounce {
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin: auto;
  color: white;
  // border: pink solid 2px;
  border-radius: 1rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  position: relative;
}

/* MODIFIERS */

.flexThirds {
  max-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  // border: pink solid 2px;
}

.flexTwoThirds {
  // max-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  // border: pink solid 2px;
}

.flexHalf {
  // border: #afddd0 solid 3px;
  // max-height: 90vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 80%;
  p {
    font-size: 0.85rem;
  }
  h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h5 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  h4 {
    // font-size: 1.5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  h6 {
    font-weight: 600;
    font-size: 0.9rem;
  }
  .line {
    width: 2rem;
    height: 0.1rem;
    background: #a1a1a1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
  .clear-line {
    width: 2rem;
    height: 0.1rem;
    background: clear;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
  }
}

.row-image {
  width: 100%;
  height: 10%;
  object-fit: contain;
}

.full-bg {
  background-color: white;
  width: 95%;
}

.white-bg {
  background-color: white;
}

.color-bg {
  background-color: #afddd0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 95%;
}

.border-bg {
  //   border: #afddd0 solid 3px;
  width: 95%;
}

/* SIZE MODIFIERS */

.reduceSize50 {
  min-height: 50vh;
}

.reduceSize30 {
  min-height: 30vh;
  // border: #afddd0 solid 3px;
}

.max45vh {
  max-height: 45vh;
  min-height: 0;
  // border: #afddd0 solid 3px;
}

.max10vh {
  max-height: 10vh;
  min-height: 0;
}

/* SPACERS */

.spacer {
  width: 10%;
  height: 25%;
}

.tinySpacer {
  height: 5rem;
  width: 100%;
}

/* CONTENTS */

.block {
  width: 20%;
  height: auto;
}

.text-container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 2rem;
  /* background-color: white; */
  z-index: 2;
}

.project-img {
  width: 100%;
  height: 80vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
    // border: #afddd0 solid 3px;
  }
  .img50 {
    width: 50%;
    height: 50%;
    object-fit: contain;
    border-radius: 1rem;
  }
}

.project-img30 {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 1rem;
    // border: #afddd0 solid 3px;
  }
}

.project-text {
  flex: 1;
  position: relative;
  width: 100%;
  text-align: left;
  h6,
  h3,
  p {
    width: 85%;
  }
  .project-text2 {
    h6,
    h3,
    p {
      width: 70%;
    }
  }
}

.project-text75 {
  flex: 1;
  position: relative;
  width: 75%;
  text-align: left;
  h3 {
  }
  h4 {
    padding: 1rem 0rem;
  }
  h1 {
  }
  p {
    padding: 1rem 0rem;
  }
  .shorten {
    width: 75%;
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 300;

    padding: 1rem 0rem;
  }
}

.flex3-item {
  width: 25%;
  h2 {
    text-align: center;
  }
  // border: #afddd0 solid 3px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flex3-text {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  // border: #afddd0 solid 3px;
}

.flex2-item {
  width: 50vw;
  height: auto;
  // border: #afddd0 solid 3px;
  img {
    width: 100%;
    // height: 100%;
    object-fit: contain;
  }
}

.flexHalf-item {
  width: 32vw;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.downloadBtn {
  margin: 1rem 0rem;
  padding: 0.75rem 1.25rem;
  background: #ffcd55;
  border-radius: 10px;
  font-size: 0.75rem;
  font-weight: 600;
  text-decoration: none;
  align-self: flex-start;
  &:hover {
    background: #acacac;
    color: white;
    transition: ease-in-out 1s all;
  }
}

.project-nr {
  width: 40%;
  font-size: 15rem;
  position: absolute;
  left: 60%;
  bottom: 0%;
  color: white;
  opacity: 1;
  z-index: 0;
  img {
    z-index: inherit;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.flex-list {
  //   border: 1px black solid;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: left;
  text-align: left;
  z-index: 2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .list-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    margin-right: 2rem;
    width: 80%;
    // border: 1px black solid;
    h1 {
      margin-bottom: 0.25rem;
      color: black;
    }
    h2 {
      margin-bottom: 0.25rem;
      //   color: #afddd0;
    }
    h3 {
      line-height: 1.3;
    }
    h4 {
    }
    h5 {
      font-size: 0.55rem;
      color: #ffcd55;
      line-height: 2;
      margin-top: 0.75rem;
    }
    h6 {
      font-size: 0.85rem;
      color: black;
      line-height: 1.6;
      //   border: 1px black solid;
    }
    p {
      margin-bottom: 1rem;
    }
    .line {
      width: 2rem;
      height: 0.2rem;
      //   background: black;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
}

.arrow-list {
  //   border: 1px black solid;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: no-wrap;
  justify-content: center;
  text-align: center;
  z-index: 2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .list-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 80%;
    // border: 1px black solid;
    .downArrow-container {
      margin-top: 4rem;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      // border: 1px black solid;
      i {
        display: block;
      }
    }
    h1 {
      margin-bottom: 0.25rem;
      color: black;
    }
    h2 {
      margin-bottom: 0.25rem;
      //   color: #afddd0;
    }
    h3 {
      line-height: 1.3;
    }
    h4 {
      // font-size: 0.85rem;
      // font-weight: 600;
      // color: black;
      // line-height: 2;
      //   border: 1px black solid;
    }
    h5 {
      font-size: 0.55rem;
      color: #ffcd55;
      line-height: 2;
      margin-top: 0.75rem;
    }
    h6 {
      font-size: 1rem;
      color: black;
      line-height: 1.6;
      text-align: center;
      font-weight: 400;
      //   border: 1px black solid;
    }
    p {
      margin-bottom: 1rem;
    }
    .line {
      width: 2rem;
      height: 0.2rem;
      //   background: black;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
  }
}

.brief {
  min-height: 50vh;
  // border: 1px black solid;
}

.brief-list {
  // border: 1px black solid;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: left;
  text-align: left;
  z-index: 2;
  margin-top: 2rem;
  margin-bottom: 2rem;
  .list-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    margin-right: 2rem;
    width: 20%;
    // border: 1px black solid;
    h1 {
      margin-bottom: 0.25rem;
      color: black;
    }
    h2 {
      margin-bottom: 0.25rem;
      //   color: #afddd0;
    }
    h3 {
      line-height: 1.6;
    }
    h4 {
      // font-size: 0.85rem;
      // font-weight: 600;
      // color: black;
      // line-height: 2;
      //   border: 1px black solid;
    }
    h6 {
      font-size: 0.85rem;
      color: black;
      line-height: 2;
      //   border: 1px black solid;
    }
    p {
      margin-bottom: 1rem;
    }
    .line {
      width: 7rem;
      height: 0.2rem;
      //   background: black;
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }
    .textWidth {
      width: 100%;
      text-align: center;
      h4,
      h6 {
        text-align: center;
      }
      // align-self: flex-start;
    }
    .textWidthLeft {
      width: 90%;
      text-align: left;
      h6 {
        text-align: left;
      }
      // align-self: flex-start;
    }
  }
  .extend-column {
    width: 100%;
    margin-right: 0.5rem;
  }
}

.center {
  display: flex;
  flex-direction: row;
  // justify-content: space-around;
  align-items: center;
  // border: yellow solid 3px;
  text-align: center;
}

.horizontal-list {
  // border: 1px black solid;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  position: relative;
  z-index: 2;
  .list-column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2rem;
    h4,
    p {
      text-align: center;
    }
    .line {
      width: 4rem;
      height: 0.15rem;
      border-radius: 5rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      align-self: center;
    }
  }

  .project-icon {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    position: absolute;
    z-index: -1;
    width: 10vw;
    img {
      z-index: inherit;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.video-wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.video-wrap iframe {
  position: absolute;
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 1rem;
  max-height: 1080px;
}

// Content Modifiers

.flexColumn {
  flex-direction: column;
}

.white {
  h1,
  h2,
  h3,
  h4,
  h5,
  p {
    color: #ffffff;
  }
}

.whiteBG {
  background-color: white;
}

.addBottom-margin {
  display: block;
  margin-bottom: 2rem;
}

/* SPECIFIC CONTENTS */

// Persona Grid Styling

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 0.5fr 2fr;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "icon . text "
    "horizontal-list . text";
  grid-gap: 2rem;
  //   border: 1px black solid;
  width: 80%;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 5rem;
  margin-right: 5rem;
  /* background-color: white; */
  z-index: 2;
}

.grid-text {
  grid-area: text;
  position: relative;
  width: 80%;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-img {
  width: 80%;
  grid-area: icon;
  display: flex;
  flex-direction: column-reverse;

  img {
    width: 100%;
    height: 100%;
    max-height: 20vh;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.persona-list {
  // border: 1px black solid;
  width: 100%;
  height: auto;
  flex: 1;
  grid-area: horizontal-list;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
  position: relative;
  z-index: 2;
  .list-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-right: 2rem;
    h1 {
      margin-bottom: 0.25rem;
    }
    h2 {
      margin-bottom: 0.25rem;
    }
    p {
      font-size: 0.75rem;
      //   margin-bottom: 1rem;
    }
    .line {
      width: 7rem;
      height: 0.15rem;
      background: black;
      border-radius: 5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

// Multiple Point Keypoints Grid

.keypoints-list {
  // border: 1px black solid;
  width: 100%;
  height: auto;
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
  z-index: 2;
  .list-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-right: 2rem;
    width: 25%;
    h1 {
      margin-bottom: 0.25rem;
      color: black;
    }
    h2 {
      margin-bottom: 0.25rem;
      //   color: #afddd0;
    }
    h3 {
      line-height: 1.6;
    }
    p {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .line {
      width: 7rem;
      height: 0.15rem;
      background: black;
      border-radius: 5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .small-img {
      width: 100%;
      max-height: 10vh;
      grid-area: icon;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
  }
}

// Full Width Vertical List Grid

.takeaways-list {
  // border: 1px black solid;
  width: 80%;
  height: auto;
  flex: 1;
  grid-area: horizontal-list;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
  z-index: 2;
  .list-row {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-right: 2rem;
    .svg-icon {
      width: 5rem;
      height: 5rem;
      object-fit: contain;
      border-radius: 1rem;
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
    img {
      width: 50%;
      max-height: auto;
      object-fit: contain;
      border-radius: 1rem;
    }

    h4 {
      // font-size: 1.5rem;
      width: 70%;
    }
    h2 {
      margin-bottom: 0.25rem;
      margin-top: 2rem;
    }
    p {
      margin-bottom: 1rem;
    }
    .line {
      width: 7rem;
      height: 0.25rem;
      background: black;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 30vh; /* 16:9 */
  height: 0;
  width: 60vh;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

// Styling - Font

.font-text {
  flex: 1;
  position: relative;
  width: 60%;
  text-align: left;
  h6 {
    margin-bottom: 3rem;
    margin-top: 0.5rem;
  }
  h3 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  h2 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  h1 {
    font-family: "Inter", sans-serif;
    font-size: 2.5rem;
    font-weight: 200;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  p {
    font-family: "Inter", sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
    color: grey;
  }
}

// Styling - Color

.shape-list {
  // border: 1px black solid;
  width: 100%;
  height: auto;
  flex: 1;
  grid-area: horizontal-list;
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  text-align: left;
  z-index: 2;
  margin-top: 2rem;
  .shape-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    margin-right: 10%;
    width: 20%;
    h1 {
      margin-bottom: 0.25rem;
      color: grey;
    }
    h2 {
      margin-bottom: 0.25rem;
      //   color: #afddd0;
    }
    p {
      margin-bottom: 1rem;
      opacity: 0.2;
    }
    .line {
      width: 7rem;
      height: 0.15rem;
      background: black;
      border-radius: 5rem;
      margin-top: 1rem;
      margin-bottom: 1rem;
    }
    .small-img {
      width: 100%;
      max-height: 10vh;
      grid-area: icon;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
      }
    }
  }
}

#circle {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 2rem;
}

#gradient-block {
  width: 225px;
  height: 75px;
  border-radius: 10%;
  margin: 2rem;
}

.line-short {
  width: 1rem;
}
